
.int{
	font-family: monospace;
}
.sty{
	font-family: 'Metal Mania', cursive;
	color: gradient;
}
body{
	background-image:url(blue.jpg);
	background-size: cover;
}
.lettercolor{
    background: whitesmoke;
   
}
.sty {
  background-color: transparent;
  color: black;
  text-align: center;
    font-size: 12px;
  transition: 0.3s;
  padding: 2px 12px;
   margin: 10px 3px;
   margin-left: 40%;
}

.sty:hover {
  background-color: slategrey;
  color: yellow;
}
.st{
	 margin-left: 40%;
}
.handimg{
	
	overflow: hidden;
	margin-bottom: 20px;
	transition: all .6s ease;
}
.handimg:hover{
	transform: scale(1.02);
}
.handimg img{
	object-fit: cover;
	transform: rotate(25deg);


}

.d-flex{
	margin-right: 20px;
}


